{% extends 'app_base.html' %}
{% load static %}

{% block title %}Diagnósticos Arquivados{% endblock %}

{% block app_content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h2 class="h4">Diagnósticos Arquivados</h2>
        <p class="text-muted">Lista de diagnósticos que foram arquivados.</p>
    </div>
    <a href="{% url 'diagnostico_list' %}" class="btn btn-outline-primary">
        <i class="bi bi-arrow-left me-2"></i>Voltar para Diagnósticos
    </a>
</div>

<div class="card shadow-sm border-0">
    <div class="card-body p-4">
        <table class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col">Nome do Diagnóstico</th>
                    <th scope="col">Sigla</th>
                    <th scope="col" class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for diagnostico in diagnosticos %}
                <tr>
                   <td>{{ diagnostico.nome }}</td>
                   <td><b>{{ diagnostico.sigla }}</b></td>
                   <td class="text-end d-flex gap-2 justify-content-end">
                        <form method="POST" action="{% url 'diagnostico_restaurar' diagnostico.pk %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-success">
                                <i class="bi bi-arrow-counterclockwise"></i> Restaurar
                            </button>
                        </form>
                        
                        <a href="{% url 'diagnostico_delete_permanente' diagnostico.pk %}" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted p-4">
                        Nenhum diagnóstico arquivado.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}